{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "SWR audio lab - Radiohub",
    "description" : "This documentation is also available as [openapi.json](https://api.lab.swr.de/radiohub-docs/openapi.json) or [openapi.yaml](https://api.lab.swr.de/radiohub-docs/openapi.yaml).\n\n  \nAuthorization keys can be requested via [lab@swr.de](mailto:lab@swr.de) and shall be sent as base64 encoded basic auth information in the header. Please report all problems or bugs to [lab@swr.de](mailto:lab@swr.de) or via the [Github repo](https://github.com/swrlab/swr-radiohub-docs/issues) and possibly include the `trace` information from the response header or info object.\n\n The dev environment uses data from the dev database; staging and production environments both access production data. The `appId` therefore follows the same structure. Caching is separate for each stage.",
    "contact" : {
      "name" : "SWR audio lab",
      "email" : "lab@swr.de"
    },
    "license" : {
      "name" : "© SWR audio lab"
    },
    "version" : "2.7.1"
  },
  "servers" : [ {
    "url" : "https://api.lab.swr.de/radiohub",
    "description" : "Radiohub production"
  }, {
    "url" : "https://api.lab.swr.de/radiohub-dev",
    "description" : "Radiohub development"
  }, {
    "url" : "https://api.lab.swr.de/radiohub-stage",
    "description" : "Radiohub staging"
  } ],
  "paths" : {
    "/v2/content/collection/{ref}" : {
      "get" : {
        "tags" : [ "content" ],
        "summary" : "Query an entire content collection",
        "description" : "Receive all recent entries for a content collection by their reference.",
        "parameters" : [ {
          "name" : "ref",
          "in" : "path",
          "description" : "SWR CMS reference",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "songtinder-sammler-100"
        } ],
        "responses" : {
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise the cover will be returned as image.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/contentListResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/v2/content/id/{id}" : {
      "get" : {
        "tags" : [ "content" ],
        "summary" : "Query a content object by id",
        "description" : "Receive a content object by the content id (can be import-sensitive).",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Radiohub import ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "4539478696787968"
        } ],
        "responses" : {
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise the cover will be returned as image.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/contentResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/v2/content/ref/{ref}" : {
      "get" : {
        "tags" : [ "content" ],
        "summary" : "Query a content object by SWR CMS Ref",
        "description" : "Receive a content object by the SWR CMS Reference (Sophora-Ref)",
        "parameters" : [ {
          "name" : "ref",
          "in" : "path",
          "description" : "Radiohub import ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : 4539478696787968
        } ],
        "responses" : {
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise the cover will be returned as image.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/contentResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/v2/cover/{mdid}/" : {
      "get" : {
        "tags" : [ "cover" ],
        "summary" : "Get a cover based on SWR's mdid",
        "description" : "Query Radiohub to get a cover for a played item based on a mdid reference.",
        "parameters" : [ {
          "name" : "mdid",
          "in" : "path",
          "description" : "SWR mdid (starts with M0...)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "M0571919.001"
        }, {
          "name" : "width",
          "in" : "query",
          "description" : "Optionally set a desired width, if no height is provided, the cover stays square-sized, otherwise it will be cropped. Default if unset is 256px, max is 1024px.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "height",
          "in" : "query",
          "description" : "Optionally set a desired height, if no width is provided, the cover stays square-sized, otherwise it will be cropped",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "station",
          "in" : "query",
          "description" : "Apply a branding to the image. Branded covers are only available if this station has ever played that track.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "swr1bw", "swr1rp", "swr2", "swr3", "swr4bw", "swr4rp", "dasding" ]
          }
        } ],
        "responses" : {
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise the cover will be returned as image.",
            "content" : {
              "image/*" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/v2/feedback/{station}/" : {
      "post" : {
        "tags" : [ "feedback" ],
        "summary" : "Publish an inbound feedback message",
        "description" : "Send a feedback message from an external device or platform to SWR's feedback system.",
        "parameters" : [ {
          "name" : "station",
          "in" : "path",
          "description" : "Set the radio station for the schedule query",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "swr1bw", "swr1rp", "swr3", "swr4bw", "swr4rp", "dasding" ]
          }
        } ],
        "requestBody" : {
          "description" : "When posting a feedback entry, `name`, `userId` and `source` are always required, `city` for all stations except _dasding_. Each post needs to contain either `file` or `message`. The field `file` can either be _image/jpeg_ (jpg file), _image/png_ (png image) or _audio/mpeg_ (mp3). `userId` needs to be a predefined token or id which can be used to reach back out to the user.\n",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/feedbackBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise message is null."
          },
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured."
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/images/v1/get/{key}/img" : {
      "get" : {
        "tags" : [ "images" ],
        "summary" : "Load an image from image service",
        "description" : "Load the original image or resized version. A list of all keys can be seen in the SWR audio lab dashboard. Contact lab@swr.de for access. Uncached images will be generated and served from storage. See response header \"swr-datasource\" for details. Clients should also respect cache control if possible.",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Set key for the image that shall be displayed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "DASDING-512"
          }
        }, {
          "name" : "width",
          "in" : "query",
          "description" : "Optional width in pixels that the image shall be resized to. Minimum: 1, maximum 2560px",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 2560,
            "minimum" : 2,
            "type" : "number"
          }
        }, {
          "name" : "height",
          "in" : "query",
          "description" : "Optional height in pixels that the image shall be resized to. Minimum: 1, maximum 2560px. If both width and height are set, then the image will be cropped. Otherwise the respectively opposite dimension is set to auto",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 2560,
            "minimum" : 2,
            "type" : "number"
          }
        }, {
          "name" : "fileType",
          "in" : "query",
          "description" : "Force the output to a specific file type. If unset, the output will match the input file type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "jpg", "png", "webp" ]
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid query input"
          },
          "500" : {
            "description" : "Server error occured or key not found."
          },
          "default" : {
            "description" : "Image",
            "content" : {
              "image/jpeg" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "image/png" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "image/webp" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://api.lab.swr.de/",
          "description" : "This service is acessible through the primary path"
        } ]
      }
    },
    "/images/v1/get/{key}/json" : {
      "get" : {
        "tags" : [ "images" ],
        "summary" : "Receive details about a cacheable image",
        "description" : "Similar to the image service endpoint but here only a JSON object of the database entry will be served. Should only be used for debugging solutions, not to download an image. Accessibility of the sourceUrl is not guaranteed and will be limited in future versions.",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Set key for the image that shall be displayed. A list of all keys can be seen in the SWR audio lab dashboard. Contact lab@swr.de for access.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "DASDING-512"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured or key not found."
          },
          "default" : {
            "description" : "JSON object",
            "content" : {
              "image/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ],
        "servers" : [ {
          "url" : "https://api.lab.swr.de/",
          "description" : "This service is acessible through the primary path"
        } ]
      }
    },
    "/swr2/images/get/{key}/{format}/{overlay}/{width}/img.jpg" : {
      "get" : {
        "tags" : [ "images" ],
        "summary" : "Load an image from swr2 image service",
        "description" : "Load the original image or resized version. A list of all keys can be seen in the SWR audio lab dashboard. Contact lab@swr.de for access. Uncached images will be generated and served from storage. See response header \"swr-datasource\" for details. Clients should also respect cache control if possible.",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Set key for the image that shall be displayed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "logo"
          }
        }, {
          "name" : "format",
          "in" : "path",
          "description" : "Set the aspect ratio for the image. rund is a 1x1 image which is title safe for round usage.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "16x9", "4x3", "1x1", "rund" ]
          }
        }, {
          "name" : "overlay",
          "in" : "path",
          "description" : "Toggle whether a swr2 logo overlay shall be included. This feature is end of life and you should always request the 0 version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "0", "1" ]
          }
        }, {
          "name" : "width",
          "in" : "path",
          "description" : "Width in pixels that the image shall be resized to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maximum" : 2560,
            "minimum" : 2,
            "type" : "number",
            "example" : 256
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid query input"
          },
          "500" : {
            "description" : "Server error occured or key not found."
          },
          "default" : {
            "description" : "Image",
            "content" : {
              "image/jpeg" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://api.lab.swr.de/",
          "description" : "This service is acessible through the primary path"
        } ]
      }
    },
    "/swr2/images/get/{key}/json" : {
      "get" : {
        "tags" : [ "images" ],
        "summary" : "Receive details about a cacheable image",
        "description" : "Similar to the swr2 image service endpoint but here only a JSON object of the database entry will be served. Should only be used for debugging solutions, not to download an image. Accessibility of the sourceUrl is not guaranteed and will be limited in future versions.",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Set key for the image that shall be displayed. A list of all keys can be seen in the SWR audio lab dashboard. Contact lab@swr.de for access.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "logo"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured or key not found."
          },
          "default" : {
            "description" : "JSON object",
            "content" : {
              "image/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ],
        "servers" : [ {
          "url" : "https://api.lab.swr.de/",
          "description" : "This service is acessible through the primary path"
        } ]
      }
    },
    "/v2/schedule/live/{station}/" : {
      "get" : {
        "tags" : [ "schedule" ],
        "summary" : "Receive the show that's live as scheduled",
        "description" : "Query Radiohub to get the current live show for a specific station.",
        "parameters" : [ {
          "name" : "station",
          "in" : "path",
          "description" : "Set the radio station for the schedule query",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "swr1bw", "swr1rp", "swr2", "swr3", "swr4bw", "swr4rp", "swraktuell", "dasding" ]
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise message is null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/scheduleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/schedule/day/{station}/{day}" : {
      "get" : {
        "tags" : [ "schedule" ],
        "summary" : "Receive the show that's live as scheduled",
        "description" : "Query Radiohub to get the current live show for a specific station.",
        "parameters" : [ {
          "name" : "station",
          "in" : "path",
          "description" : "Set the radio station for the schedule query",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "swr1bw", "swr1rp", "swr2", "swr3", "swr4bw", "swr4rp", "swraktuell", "dasding" ]
          }
        }, {
          "name" : "day",
          "in" : "path",
          "description" : "Specify a certain date to be checked in the format YYYYMMDD.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "20191007"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise message is null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "minItems" : 2,
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/scheduleResponse"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured."
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/v2/schedule/time/{station}/{format}/{time}" : {
      "get" : {
        "tags" : [ "schedule" ],
        "summary" : "Receive the show that's live as scheduled",
        "description" : "Query Radiohub based on a ms or s timestamp to get the show for a specific station.",
        "parameters" : [ {
          "name" : "station",
          "in" : "path",
          "description" : "Set the radio station for the schedule query",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "swr1bw", "swr1rp", "swr2", "swr3", "swr4bw", "swr4rp", "swraktuell", "dasding" ]
          }
        }, {
          "name" : "format",
          "in" : "path",
          "description" : "Choose whether to use a UNIX timestamp in seconds or milliseconds.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "ms", "s" ]
          }
        }, {
          "name" : "time",
          "in" : "path",
          "description" : "Timestamp in preferred format",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise message is null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/scheduleResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/v2/schedule/purge/{station}/" : {
      "get" : {
        "tags" : [ "schedule" ],
        "summary" : "Purge cache information for a station",
        "description" : "Shall only be used in cases when meta information has been changed and needs to be re-cached.",
        "parameters" : [ {
          "name" : "station",
          "in" : "path",
          "description" : "Set the radio station for the schedule query",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "swr1bw", "swr1rp", "swr2", "swr3", "swr4bw", "swr4rp", "swraktuell", "dasding" ]
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise message is null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/schedulePurgeResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/v2/stream/start/{station}/" : {
      "get" : {
        "tags" : [ "stream" ],
        "summary" : "Start a linear non-interactive radio stream based on station and parameters",
        "description" : "Linking service to provide the latest streamUrl with certain given parameters.\n\nFor SWR classic an additional parameter `isLive` is provided in the JSON output (see example response below).\n\nSome requests require an authentication with special permissions (`swrRadiohubStreamStart`) - Especially responsive radio triggered by the y parameter, those responses also feature a different JSON structure.\nNote Interactive radio sessions no longer use this call.",
        "parameters" : [ {
          "name" : "station",
          "in" : "path",
          "description" : "Set the radio station. \n\nNote that not all stations provide all features such as video oder skippable radio.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "swr3", "dasding", "swrclassic" ]
          }
        }, {
          "name" : "r",
          "in" : "query",
          "description" : "_(returnData)_ \n\nChoose whether to redirect to streamUrl or receive JSON data object.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "f",
          "in" : "query",
          "description" : "_(desiredFormat)_ \n\nSet the streaming format. Note that video is not available in combination with all queries. \n\nDefaults to mp3.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "mp3", "aac", "video" ]
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "_(desiredQuality)_ \n\nSet the streaming quality. Note that adaptive is only available for f=video while high and low are for mp3/aac.\n\nDefaults to low.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "high", "low", "adaptive" ]
          }
        }, {
          "name" : "d",
          "in" : "query",
          "description" : "_(deviceType)_ \n\nSet the type of device and/or aggregator. Example list is not complete and only serves as a reference. Names are provided by SWR audio lab.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "amazonAlexaSkill", "googleHomeAction", "swrClassicAppleTv" ]
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Query not allowed."
          },
          "500" : {
            "description" : "Server error occured or key not found."
          },
          "default" : {
            "description" : "JSON object",
            "content" : {
              "image/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "x-swrclassic" : {
            "description" : "Example of a result where `station` is `swrclassic` to signalize live modus.",
            "content" : {
              "image/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "integer",
                      "format" : "int64",
                      "example" : 200
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Message will be provided if status is not 200, otherwise null"
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "isLive" : {
                          "type" : "boolean",
                          "example" : true
                        },
                        "streamUrl" : {
                          "type" : "string",
                          "example" : "https://...m3u8"
                        },
                        "streamTitle" : {
                          "type" : "string",
                          "example" : "Live aus..."
                        },
                        "updatedAt" : {
                          "type" : "integer",
                          "format" : "int64",
                          "example" : 1563785270
                        },
                        "airtimeStart" : {
                          "type" : "integer",
                          "format" : "int64",
                          "example" : 1563692428
                        },
                        "airtimeEnd" : {
                          "type" : "integer",
                          "format" : "int64",
                          "example" : 1563859828
                        }
                      }
                    },
                    "info" : {
                      "$ref" : "#/components/schemas/infoResponse"
                    },
                    "links" : {
                      "type" : "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/stream/meta/" : {
      "get" : {
        "tags" : [ "stream" ],
        "summary" : "Receive meta information about a current session",
        "description" : "All live information and meta data details that the system knows about a running audio session for the skippable radio platform.",
        "parameters" : [ {
          "name" : "appId",
          "in" : "query",
          "description" : "Provide a valid `appId`.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncUrl",
          "in" : "query",
          "description" : "Provide the ybrid metadata Url to improve sync and buffer handling. Only provide the Url once and as quickly as possible after receiving it from ybrid.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Query not allowed or appId not provided."
          },
          "500" : {
            "description" : "Server error occured"
          },
          "default" : {
            "description" : "JSON object",
            "content" : {
              "image/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/streamMetaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stream/shift/{action}/" : {
      "get" : {
        "tags" : [ "stream" ],
        "summary" : "Control the timeshift position of a user's stream",
        "description" : "For a detailed workflow of responsive radio streams, see the STREAMING.md document in this repository.",
        "parameters" : [ {
          "name" : "action",
          "in" : "path",
          "description" : "The type of action for the livestream",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "jump", "live", "offset", "back", "ahead" ]
          }
        }, {
          "name" : "appId",
          "in" : "query",
          "description" : "Always provide the user's appId for all responsive radio requests.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Query not allowed or appId not provided."
          },
          "500" : {
            "description" : "Server error occured or key not found."
          },
          "default" : {
            "description" : "JSON object",
            "content" : {
              "image/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/streamMetaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stream/shift/{action}/{time}" : {
      "get" : {
        "tags" : [ "stream" ],
        "summary" : "Control the timeshift of a user's stream with time offset",
        "description" : "For a detailed workflow of responsive radio streams, see the STREAMING.md document in this repository.",
        "parameters" : [ {
          "name" : "action",
          "in" : "path",
          "description" : "The type of action for the livestream",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "jump", "live", "offset", "back", "ahead" ]
          }
        }, {
          "name" : "time",
          "in" : "path",
          "description" : "The time difference if required by `action`",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "appId",
          "in" : "query",
          "description" : "Always provide the user's appId for all responsive radio requests.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Query not allowed or appId not provided."
          },
          "500" : {
            "description" : "Server error occured or key not found."
          },
          "default" : {
            "description" : "JSON object",
            "content" : {
              "image/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/streamMetaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stream/shift/{action}/{type}" : {
      "get" : {
        "tags" : [ "stream" ],
        "summary" : "Jump to the timeshift position of a specific track type",
        "description" : "For a detailed workflow of responsive radio streams, see the STREAMING.md document in this repository.",
        "parameters" : [ {
          "name" : "action",
          "in" : "path",
          "description" : "The type of action for the livestream",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "back", "ahead" ]
          }
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "The track type",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "music", "advertisement", "jingle", "news", "traffic", "voice", "weather", "unrecognized" ]
          }
        }, {
          "name" : "appId",
          "in" : "query",
          "description" : "Always provide the user's appId for all responsive radio requests.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Query not allowed or appId not provided."
          },
          "500" : {
            "description" : "Server error occured or key not found."
          },
          "default" : {
            "description" : "JSON object",
            "content" : {
              "image/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/streamMetaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stream/switch/skip" : {
      "get" : {
        "tags" : [ "stream" ],
        "summary" : "Control the content of a user's stream by skipping",
        "description" : "For a detailed workflow of responsive radio streams, see the STREAMING.md document in this repository.",
        "parameters" : [ {
          "name" : "appId",
          "in" : "query",
          "description" : "Always provide the user's appId for all responsive radio requests.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Query not allowed or appId not provided."
          },
          "500" : {
            "description" : "Server error occured or key not found."
          },
          "default" : {
            "description" : "JSON object",
            "content" : {
              "image/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/streamMetaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stream/switch/{action}/{id}" : {
      "get" : {
        "tags" : [ "stream" ],
        "summary" : "Control the content of a user's stream",
        "description" : "For a detailed workflow of responsive radio streams, see the STREAMING.md document in this repository. When switching to a channel, provide the channel id, for podcast series, provide collection reference, for audio content, use the sophora document reference.",
        "parameters" : [ {
          "name" : "action",
          "in" : "path",
          "description" : "The type of action for the livestream",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "channel", "podcast", "content" ]
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "The time difference if required by `action`",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "appId",
          "in" : "query",
          "description" : "Always provide the user's appId for all responsive radio requests.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Query not allowed or appId not provided"
          },
          "500" : {
            "description" : "Server error occured or key not found."
          },
          "default" : {
            "description" : "JSON object",
            "content" : {
              "image/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/streamMetaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/track/live/{station}/" : {
      "get" : {
        "tags" : [ "track" ],
        "summary" : "Receive the track that's playing right now.",
        "description" : "Query Radiohub to get the current live show for a specific station. Note that tracks currently means song, which may be extended in future versions.",
        "parameters" : [ {
          "name" : "station",
          "in" : "path",
          "description" : "Set the radio station for the schedule query",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "swr1bw", "swr1rp", "swr2", "swr3", "swr4bw", "swr4rp", "swraktuell", "dasding" ]
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise message is null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/trackResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/v2/traffic/search/{provider}/{roadName}/" : {
      "get" : {
        "tags" : [ "traffic" ],
        "summary" : "Search for traffic incidents",
        "description" : "Query ARD Traffic (TPEG) via Radiohub to get a list of incidents.",
        "parameters" : [ {
          "name" : "provider",
          "in" : "path",
          "description" : "Set the ARD partner whose details shall be displayed. Set to ard for full output.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "ard", "br", "swr", "ndr", "hr", "wdr", "mdr", "rbb" ]
          }
        }, {
          "name" : "roadName",
          "in" : "path",
          "description" : "Comma, separated and url encoded list of road names, like A5 or B10. Capitalization does not matter, however uppercase is preferred.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "A5,A8"
          }
        }, {
          "name" : "includeLocation",
          "in" : "query",
          "description" : "String-formatted boolean information whether the full GPS location shall be returned. Default if unset: false",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : false
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise message is null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/trafficResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/v2/traffic/geo/{provider}/{lat}/{lon}/" : {
      "get" : {
        "tags" : [ "traffic" ],
        "summary" : "Get the neareast incidents",
        "description" : "Query ARD Traffic (TPEG) via Radiohub to get a list of incidents via supplied geo coordinates.",
        "parameters" : [ {
          "name" : "provider",
          "in" : "path",
          "description" : "Set the ARD partner whose details shall be displayed. Set to ard for full output.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "ard", "br", "swr", "ndr", "hr", "wdr", "mdr", "rbb" ]
          }
        }, {
          "name" : "lat",
          "in" : "path",
          "description" : "Geo Latitude",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "48.767014"
          }
        }, {
          "name" : "lon",
          "in" : "path",
          "description" : "Geo Longitude",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "8.224037"
          }
        }, {
          "name" : "includeLocation",
          "in" : "query",
          "description" : "String-formatted boolean information whether the full GPS location shall be returned. Default if unset: false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "example" : false
          }
        }, {
          "name" : "customRadius",
          "in" : "query",
          "description" : "Radius in Kilometers that shall be used. Default if unset: 30.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise message is null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/trafficResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/v2/user/app/register/{station}" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Register an user device for appId access",
        "description" : "The `appId` is needed for all responsive radio actions. For a detailed workflow of responsive radio streams, see the STREAMING.md document in this repository.",
        "parameters" : [ {
          "name" : "station",
          "in" : "path",
          "description" : "The type of action for the livestream",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "dasding", "swr3" ]
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Query not allowed"
          },
          "500" : {
            "description" : "Server error occured"
          },
          "default" : {
            "description" : "JSON object",
            "content" : {
              "image/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/userAppRegisterResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/v2/geo/search/" : {
      "get" : {
        "tags" : [ "weather" ],
        "summary" : "Turn a location search into lat/lon",
        "description" : "Allow users to search for a location to receive lat/lon coordinates for weather queries. Devices are encouraged to save the lat/lon response to avoid having to query this API every time.",
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "Location query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "Freiburg"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise message is null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/geoSearchResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "weather" ],
        "summary" : "Turn a location search into lat/lon",
        "description" : "Allow users to search for a location to receive lat/lon coordinates for weather queries. Devices are encouraged to save the lat/lon response to avoid having to query this API every time.",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise message is null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/geoSearchResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    },
    "/v2/weather/geo/{lat}/{lon}/" : {
      "get" : {
        "tags" : [ "weather" ],
        "summary" : "Get the weather",
        "description" : "Receive SWR's weather report for a specific geolocation.",
        "parameters" : [ {
          "name" : "lat",
          "in" : "path",
          "description" : "Geo Latitude",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "48.767014"
          }
        }, {
          "name" : "lon",
          "in" : "path",
          "description" : "Geo Longitude",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "8.224037"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized access to API."
          },
          "500" : {
            "description" : "Server error occured."
          },
          "default" : {
            "description" : "If status code other than 200, an error message will be provided, otherwise message is null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "contentObject" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string",
            "example" : "Bosse: Augen zu, Fynn Kliemann, Modern Talking und Taki Taki – Song-Tindern"
          },
          "subtitle" : {
            "type" : "string",
            "example" : "Song-Tindern"
          },
          "teaser" : {
            "type" : "string",
            "example" : "Bosse erzählt uns beim Song-Tindern, warum ihn Musik von DJ Snake psychisch fertig macht und warum er einen Youtube-Kanal über „Backi Backi“ und „Kochi Kochi“ starten würden."
          },
          "id" : {
            "type" : "integer",
            "description" : "Unique identifier for this content element and import, can be used for further queries.",
            "example" : 4539478696787968
          },
          "metaDataId" : {
            "type" : "string",
            "example" : "aexpresso://ORDERINFOID:1083229"
          },
          "importId" : {
            "type" : "string",
            "example" : "rhsi-20191209-124738"
          },
          "sophoraCollectionRef" : {
            "type" : "string",
            "example" : "songtinder-sammler-100"
          },
          "sophoraRef" : {
            "type" : "string",
            "example" : "av-o1083229-100"
          },
          "station" : {
            "type" : "string",
            "example" : "dasding",
            "enum" : [ "swr1bw", "swr1rp", "swr2", "swr3", "swr4bw", "swr4rp", "dasding" ]
          },
          "isDownloadable" : {
            "type" : "boolean",
            "example" : true
          },
          "isShareable" : {
            "type" : "boolean",
            "example" : true
          },
          "isThumbAvailable" : {
            "type" : "boolean",
            "example" : true
          },
          "availabilityStart" : {
            "type" : "integer",
            "example" : 1575892066227
          },
          "availabilityEnd" : {
            "type" : "integer",
            "example" : 1733744866227
          },
          "updatedAt" : {
            "type" : "integer",
            "example" : 1575892066226
          },
          "durationInSeconds" : {
            "type" : "integer",
            "example" : 826
          },
          "durationReadable" : {
            "type" : "string",
            "example" : "14 Min"
          },
          "newsDocument" : {
            "type" : "string"
          },
          "sourceDownloadUrl" : {
            "type" : "string",
            "example" : "https://avdlswr-a.akamaihd.net/dasding/..."
          },
          "sourcePlaybackUrl" : {
            "type" : "string",
            "example" : "https://pdodswr-a.akamaihd.net/dasding/..."
          },
          "webUrl" : {
            "type" : "string",
            "example" : "https://www.dasding.de/export/podcast/songtindern/Bosse-beim-Song-Tindern-Augen-zu-Fynn-Kliemann-Modern-Talking-und-Taki-Taki-an,av-o1083229-100.html"
          },
          "thumbAlt" : {
            "type" : "string",
            "example" : "Bosse"
          },
          "thumbCredit" : {
            "type" : "string",
            "example" : "DASDING"
          },
          "thumbHqUrl" : {
            "type" : "string",
            "example" : "https://www.dasding.de/export/podcast/songtindern/Bosse,1546253280000,av-o1083229-img-100~_logo-dasding@2dlogo@2d100_v-ARD@2d1280_-3077ab0901f09078df8ce97dddbade7baa41bc94.jpg"
          },
          "thumbLqUrl" : {
            "type" : "string",
            "example" : "https://www.dasding.de/export/podcast/songtindern/Bosse,1546253280000,av-o1083229-img-100~_logo-dasding@2dlogo@2d100_v-ARD@2d512_-17b0334a3cf8717b5683f745c96095b731983489.jpg"
          },
          "thumbIconHqUrl" : {
            "type" : "string",
            "example" : "https://www.dasding.de/export/podcast/songtindern/Bosse,1546253280000,av-o1083229-img-100~_logo-dasding@2dlogo@2d100_v-1x1@2dM_-1360cd6d7ffe1df80aaae64d28c89d6caab50ea9.jpg"
          },
          "thumbIconLqUrl" : {
            "type" : "string",
            "example" : "https://www.dasding.de/export/podcast/songtindern/Bosse,1546253280000,av-o1083229-img-100~_logo-dasding@2dlogo@2d100_v-1x1@2dS_-29eb950641da74bcb57ca22770d7daf40017a949.jpg"
          }
        }
      },
      "contentListResponse" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 200
          },
          "message" : {
            "type" : "string",
            "description" : "Message will be provided if status is not 200, otherwise null",
            "nullable" : true
          },
          "data" : {
            "minItems" : 0,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/contentObject"
            }
          },
          "info" : {
            "$ref" : "#/components/schemas/infoResponse"
          },
          "links" : {
            "type" : "object"
          }
        }
      },
      "contentResponse" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 200
          },
          "message" : {
            "type" : "string",
            "description" : "Message will be provided if status is not 200, otherwise null",
            "nullable" : true
          },
          "data" : {
            "$ref" : "#/components/schemas/contentObject"
          },
          "info" : {
            "$ref" : "#/components/schemas/infoResponse"
          },
          "links" : {
            "type" : "object"
          }
        }
      },
      "feedbackBody" : {
        "required" : [ "message", "name", "source", "userId" ],
        "type" : "object",
        "properties" : {
          "file" : {
            "type" : "string",
            "format" : "binary"
          },
          "userId" : {
            "type" : "string"
          },
          "source" : {
            "type" : "string",
            "enum" : [ "app" ]
          },
          "name" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          }
        }
      },
      "geoSearchResponse" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 200
          },
          "message" : {
            "type" : "string",
            "description" : "Message will be provided if status is not 200, otherwise null"
          },
          "data" : {
            "maxItems" : 20,
            "minItems" : 0,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/geoSearchResponse_data"
            }
          },
          "info" : {
            "$ref" : "#/components/schemas/infoResponse"
          },
          "links" : {
            "$ref" : "#/components/schemas/scheduleResponse_links"
          }
        },
        "description" : "Defines a schedule response"
      },
      "infoResponse" : {
        "type" : "object",
        "properties" : {
          "poweredBy" : {
            "type" : "string",
            "example" : "SWR audio lab"
          },
          "trace" : {
            "type" : "string",
            "example" : "xyz"
          },
          "service" : {
            "type" : "string",
            "example" : "swr-radiohub-api-dev;dev;..."
          }
        },
        "description" : "Defines a schedule response"
      },
      "scheduleResponse" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 200
          },
          "message" : {
            "type" : "string",
            "description" : "Message will be provided if status is not 200, otherwise null"
          },
          "data" : {
            "$ref" : "#/components/schemas/scheduleResponse_data"
          },
          "info" : {
            "$ref" : "#/components/schemas/infoResponse"
          },
          "links" : {
            "$ref" : "#/components/schemas/scheduleResponse_links"
          }
        },
        "description" : "Defines a schedule response"
      },
      "scheduleResponse_data_textLongform" : {
        "type" : "object",
        "properties" : {
          "text" : {
            "type" : "string",
            "example" : "Line 1"
          },
          "underline" : {
            "type" : "boolean",
            "example" : false
          },
          "italic" : {
            "type" : "boolean",
            "example" : false
          },
          "bold" : {
            "type" : "boolean",
            "example" : false
          }
        }
      },
      "scheduleResponse_data_anchorList" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "imageUrl" : {
            "type" : "string"
          },
          "webUrl" : {
            "type" : "string",
            "nullable" : true
          }
        }
      },
      "scheduleResponse_data" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string",
            "example" : "Nachrichten"
          },
          "subtitle" : {
            "type" : "string"
          },
          "airtimeStart" : {
            "type" : "integer"
          },
          "airtimeEnd" : {
            "type" : "integer"
          },
          "updatedAt" : {
            "type" : "integer"
          },
          "thumbUrl" : {
            "type" : "string"
          },
          "isThumbAvailable" : {
            "type" : "boolean",
            "example" : false
          },
          "anchorImageUrl" : {
            "type" : "string",
            "nullable" : true
          },
          "anchorList" : {
            "minItems" : 0,
            "type" : "array",
            "nullable" : true,
            "items" : {
              "$ref" : "#/components/schemas/scheduleResponse_data_anchorList"
            }
          },
          "textLongform" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/scheduleResponse_data_textLongform"
            }
          },
          "programId" : {
            "type" : "integer",
            "nullable" : true
          },
          "ref" : {
            "type" : "integer",
            "example" : 2906737
          }
        }
      },
      "scheduleResponse_links" : {
        "type" : "object",
        "properties" : {
          "purge" : {
            "type" : "string"
          }
        }
      },
      "schedulePurgeResponse" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 201
          },
          "message" : {
            "type" : "string",
            "description" : "Message will be provided if status is not 200, otherwise null"
          },
          "data" : {
            "$ref" : "#/components/schemas/schedulePurgeResponse_data"
          },
          "info" : {
            "$ref" : "#/components/schemas/infoResponse"
          },
          "links" : {
            "$ref" : "#/components/schemas/scheduleResponse_links"
          }
        },
        "description" : "Defines a schedule response after purging"
      },
      "schedulePurgeResponse_data" : {
        "type" : "object",
        "properties" : {
          "key" : {
            "type" : "string"
          },
          "response" : {
            "type" : "string"
          }
        }
      },
      "streamMetaResponse" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 200
          },
          "message" : {
            "type" : "string",
            "description" : "Message will be provided if status is not 200, otherwise null"
          },
          "data" : {
            "$ref" : "#/components/schemas/streamMetaResponse_data"
          },
          "info" : {
            "$ref" : "#/components/schemas/infoResponse"
          },
          "links" : {
            "type" : "object"
          }
        },
        "description" : "Defines a radio meta response"
      },
      "trackObject" : {
        "type" : "object",
        "properties" : {
          "displayTitle" : {
            "type" : "string",
            "example" : "Post Malone"
          },
          "displayArtist" : {
            "type" : "string",
            "example" : "Sam Feldt feat. RANI"
          },
          "displayCover" : {
            "type" : "string",
            "example" : "https://api.lab.swr.de/radiohub/v2/cover/M0571440.001/img.jpg"
          },
          "type" : {
            "type" : "string",
            "example" : "music",
            "enum" : [ "music", "advertisement", "jingle", "news", "traffic", "voice", "weather", "unrecognized" ]
          },
          "triggeredAtMs" : {
            "type" : "integer",
            "description" : "Item recorded in database (UNIX-ms)",
            "example" : 1576081213585
          },
          "playedAtMs" : {
            "type" : "integer",
            "description" : "Item playback time (UNIX-ms)",
            "example" : 1576081210000
          },
          "refPlaylistId" : {
            "type" : "integer",
            "description" : "Unique ID within a station to reference a played track",
            "example" : 11112403
          },
          "refMdId" : {
            "type" : "string",
            "description" : "SWR metadata ID to reference a track",
            "example" : "M0571440.001"
          },
          "durationPlan" : {
            "type" : "integer",
            "description" : "For how long the track is schedule to be played back on air",
            "example" : 173
          }
        }
      },
      "trackResponse" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 200
          },
          "message" : {
            "type" : "string",
            "description" : "Message will be provided if status is not 200, otherwise null"
          },
          "data" : {
            "$ref" : "#/components/schemas/trackObject"
          },
          "info" : {
            "$ref" : "#/components/schemas/infoResponse"
          },
          "links" : {
            "$ref" : "#/components/schemas/trackResponse_links"
          }
        },
        "description" : "Defines a track response"
      },
      "trackResponse_links" : {
        "type" : "object",
        "properties" : {
          "cover" : {
            "type" : "string"
          }
        }
      },
      "trafficResponse" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 200
          },
          "message" : {
            "type" : "string",
            "description" : "Message will be provided if status is not 200, otherwise null"
          },
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/trafficResponse_data"
            }
          },
          "info" : {
            "$ref" : "#/components/schemas/infoResponse"
          },
          "links" : {
            "$ref" : "#/components/schemas/trackResponse_links"
          }
        },
        "description" : "Defines a track response"
      },
      "trafficResponse_geoPoint" : {
        "maxItems" : 3,
        "minItems" : 2,
        "type" : "array",
        "description" : "Defines a schedule response",
        "example" : [ 52.3782, 4.8999 ],
        "externalDocs" : {
          "url" : "http://geojson.org/geojson-spec.html#id2"
        },
        "items" : {
          "type" : "number",
          "format" : "double"
        }
      },
      "trafficResponse_locationBox" : {
        "type" : "object",
        "properties" : {
          "a" : {
            "$ref" : "#/components/schemas/trafficResponse_geoPoint"
          },
          "b" : {
            "$ref" : "#/components/schemas/trafficResponse_geoPoint"
          }
        },
        "description" : "Bounding box of the entire incident."
      },
      "trafficResponse_data" : {
        "type" : "object",
        "properties" : {
          "ticId" : {
            "type" : "string",
            "description" : "Uniquely identifies a traffic incident."
          },
          "urgency" : {
            "type" : "integer",
            "description" : "Describes the level of the incident. 1 is normal, 2 is a warning.",
            "example" : 1
          },
          "type" : {
            "type" : "string",
            "example" : "construction",
            "enum" : [ "warning", "construction", "congestion", "other" ]
          },
          "createdAt" : {
            "type" : "integer",
            "description" : "UNIX timestamp when the incident was created.",
            "example" : 1559627077
          },
          "text" : {
            "type" : "string",
            "description" : "Written text about the incident."
          },
          "provider" : {
            "type" : "string",
            "description" : "LRA (Landesrundfunkanstalt) that submitted the information.",
            "example" : "SWR"
          },
          "roadName" : {
            "type" : "string",
            "description" : "Comma-separated string with all included roads. Usually just one, but in rare cases, can be multiple ones. Can be null if road is not well-known (city street, diversion).",
            "nullable" : true,
            "example" : "A5"
          },
          "roadNameArray" : {
            "type" : "array",
            "description" : "Array-formatted data of roadName.",
            "items" : {
              "type" : "string",
              "example" : "A5"
            }
          },
          "locationType" : {
            "type" : "string",
            "description" : "Describes the type of Geo information. Multi* locations include a second point or string (usually the reverse route of a road).",
            "example" : "LineString",
            "enum" : [ "Point", "LineString", "MultiPoint", "MultiLineString" ]
          },
          "locationBox" : {
            "$ref" : "#/components/schemas/trafficResponse_locationBox"
          },
          "location" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "Geo information for point or line.",
            "nullable" : true,
            "items" : {
              "$ref" : "#/components/schemas/trafficResponse_geoPoint"
            }
          },
          "distance" : {
            "type" : "number",
            "description" : "Only supplied when querying by geo coordinates.",
            "format" : "double",
            "nullable" : true
          }
        }
      },
      "userAppRegisterResponse" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 200
          },
          "message" : {
            "type" : "string",
            "description" : "Message will be provided if status is not 200, otherwise null"
          },
          "data" : {
            "$ref" : "#/components/schemas/userAppRegisterResponse_data"
          },
          "info" : {
            "$ref" : "#/components/schemas/infoResponse"
          },
          "links" : {
            "type" : "object"
          }
        },
        "description" : "Defines a track response"
      },
      "streamMetaResponse_data_session" : {
        "type" : "object",
        "properties" : {
          "streamUrl" : {
            "type" : "string"
          },
          "isNew" : {
            "type" : "boolean",
            "description" : "Whether the streamUrl has changed since the last meta call. In that case the new Url shall be reloaded in the audio player.",
            "example" : false
          }
        }
      },
      "streamMetaResponse_data_meta_channelOptions_swr3live" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string",
            "example" : "SWR3 Livestream"
          },
          "id" : {
            "type" : "string",
            "example" : "swr3-live"
          },
          "icon" : {
            "type" : "string",
            "example" : "https://storage.googleapis.com/swr-lab-static/swr-lab-static/temp/SWR-Channel-SWR3-Live-round.png"
          }
        }
      },
      "streamMetaResponse_data_meta_channelOptions" : {
        "type" : "object",
        "properties" : {
          "swr3-live" : {
            "$ref" : "#/components/schemas/streamMetaResponse_data_meta_channelOptions_swr3live"
          }
        },
        "description" : "One or more channels than can be played"
      },
      "streamMetaResponse_data_meta_scheduleNow" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string",
            "example" : "Club"
          },
          "subtitle" : {
            "type" : "string"
          },
          "airtimeStart" : {
            "type" : "integer",
            "example" : 1576083600
          },
          "airtimeEnd" : {
            "type" : "integer",
            "example" : 1576098000
          },
          "updatedAt" : {
            "type" : "integer",
            "example" : 1576038186
          },
          "thumbUrl" : {
            "type" : "string",
            "nullable" : true,
            "example" : "true"
          },
          "isThumbAvailable" : {
            "type" : "boolean",
            "example" : false
          },
          "anchorImageUrl" : {
            "type" : "string"
          },
          "anchorList" : {
            "minItems" : 0,
            "type" : "array",
            "nullable" : true,
            "items" : {
              "$ref" : "#/components/schemas/scheduleResponse_data_anchorList"
            }
          },
          "ref" : {
            "type" : "integer"
          }
        },
        "description" : "Schedule item which was on air at the user's playback position"
      },
      "streamMetaResponse_data_meta" : {
        "type" : "object",
        "properties" : {
          "playerActions" : {
            "minItems" : 0,
            "type" : "array",
            "example" : [ "togglePlay", "shiftOffsetBack", "shiftOffsetAhead", "shiftBack", "shiftAhead", "shiftLive" ],
            "items" : {
              "type" : "string"
            }
          },
          "channelActive" : {
            "type" : "string",
            "example" : "swr3-live"
          },
          "channelOptions" : {
            "$ref" : "#/components/schemas/streamMetaResponse_data_meta_channelOptions"
          },
          "shiftOffset" : {
            "type" : "integer",
            "example" : 0
          },
          "trackNow" : {
            "$ref" : "#/components/schemas/trackObject"
          },
          "trackList" : {
            "type" : "array",
            "description" : "Array of tracks that have been played over the past 4 hours. The most recent one is the first element, after that it goes back in time.",
            "items" : {
              "$ref" : "#/components/schemas/trackObject"
            }
          },
          "scheduleNow" : {
            "$ref" : "#/components/schemas/streamMetaResponse_data_meta_scheduleNow"
          }
        }
      },
      "streamMetaResponse_data" : {
        "type" : "object",
        "properties" : {
          "session" : {
            "$ref" : "#/components/schemas/streamMetaResponse_data_session"
          },
          "meta" : {
            "$ref" : "#/components/schemas/streamMetaResponse_data_meta"
          }
        }
      },
      "userAppRegisterResponse_data" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "station" : {
            "type" : "string",
            "enum" : [ "dasding", "swr3" ]
          }
        }
      },
      "body" : {
        "type" : "object",
        "properties" : {
          "query" : {
            "type" : "string",
            "example" : "Freiburg"
          }
        }
      },
      "geoSearchResponse_data" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "example" : "Freiburg"
          },
          "lat" : {
            "type" : "number",
            "format" : "double"
          },
          "lon" : {
            "type" : "number",
            "format" : "double"
          }
        }
      }
    },
    "securitySchemes" : {
      "BasicAuth" : {
        "type" : "http",
        "scheme" : "basic"
      }
    }
  }
}